*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #5272ee;
}
.joke-box{
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  /* transform: translate(-50%,-50%); */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.joke-box h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.joke-box blockquote{
  font-size: 1.2rem;
  min-height: 80px;
}

.joke-box blockquote::before , .joke-box blockquote::after {
  content: '"';
}

.joke-box span{
  position: absolute;
  margin-top: -0.6rem;
  float: right;
  position: relative;
}

.joke-box span::before{
  content: '';
  width: 2rem;
  height: 0.010rem;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: -2.4rem;
}

.joke-box div{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.joke-box button {
  background: rgb(82,114,238);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(82,114,238);
  height: 3rem;
  width: 10rem;
  cursor: pointer;
}